* {
    box-sizing: border-box;
}

.todo-list-page {
    max-width: 70vw;
    margin: auto;
}

.add-todo-form > * {
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
}

.error-message {
    color: #f00;
    display: none;
}

.invalid {
    border-color: #f00;
}

.invalid ~ .error-message {
    display: block;
}

.heading {
    margin: 15px;
    font-size: 25px;
    font-weight: bold;
}

.new-todo-text-field {
    width: calc(70vw - 147px);
}

.add-button {
    width: 110px;
    margin-left: 3px;
}

.todo-list {
    margin: 15px;
    max-width: 70vw;
}

.todo-item:nth-child(odd) {
    background-color: #eee;
}

.todo-item + .todo-item {
    margin-top: 10px;
}

.buttons-block {
    float: right;
}

.buttons-block > button {
    width: 110px;
}

.todo-item-text {
    display: inline-block;
    width: calc(100% - 230px);
}

.edit-text-field {
    display: inline-block;
    width: calc(100% - 230px);
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}