* {
    box-sizing: border-box;
}

.todo-list-page {
    max-width: 90vw;
    margin: auto;
}

.error-message {
    color: #f00;
    display: none;
}

.invalid {
    border-color: #f00;
}

.invalid ~ .error-message {
    display: block;
}

.heading {
    margin: 15px;
    font-size: 25px;
    font-weight: bold;
}

.new-todo-text-field {
    width: 100%;
}

.add-button {
    width: 110px;
    margin-left: 5px;
    float: right;
}

.todo-list {
    margin-top: 15px;
    max-width: 90vw;
}

.todo-item:nth-child(odd) {
    background-color: #eee;
}

.todo-item + .todo-item {
    margin-top: 10px;
}

.buttons-block {
    margin-left: 5px;
    float: right;
}

.buttons-block > button {
    width: 110px;
}

.todo-item-text {
    width: 100%;
}

.edit-text-field {
    width: 100%;
}

.wide-block {
    overflow: hidden;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}